:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.ai {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 250px;
  overflow: hidden;
  flex-wrap: wrap;
}

.fa-trash {
  font-size: 1.25rem;
}

.fa-trash:hover {
  color: #F2BFA4 !important;
}


.copybtn i {
  color: #0c0c0c;
}

.copybtn {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: #888;
  transition: color 0.2s ease;
}

.copybtn i:hover {
  color: #ff6b01;
  /* green accent */
}