.chatInput {
    /* width: 90%; */
    display: flex;
    flex-direction: column;     /*Vertically align so the info will come in new line*/
    justify-content: center;
    align-items: center;
}

.inputBox {
    width: 100%;
    min-height: 8rem;
    position: relative;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px 15px 25px;
    font-size: 0.9rem;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px;
}
input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
   
}

input:focus {
    outline: none;      /*for no border of input while texting*/
}

#submit {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 21px;
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff6b01;
}

#submit i:hover {
    color: #F2BFA4;
}

.info {
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;
}

.inp-drop {
    /* left: -112px !important; */
    margin: 1rem 0 !important;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    width:fit-content;
}

.inp-drop li {
    text-align: center;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.inp-drop li:hover {
    background-color: #ff6b01;
    color: white;
}

.heighlight {
    background-color: #ff6b01;
    color: white;

}

.le {
    width: 100%;
}

.le div {
    padding: 0;
}

.level {
    border-radius: 2rem !important;

}

.level:hover {
    background-color: #ff6b01;
    color: white;
    border-color: #ff6b01 !important;
}