.notes {
    /* border: 1px solid black; */
    box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #fff;
    padding: 3rem;
    border-radius: 2rem;
    margin: 0 2rem;
}

.markdown-body table {
  border-collapse: collapse;
  margin: 10px 0;
  width: 100%;
}


.markdown-body td {
  border-top: 1px solid #c0c0c0 !important;
  padding: 1rem 0;
  
}
.markdown-body th {
  /* background-color: #c7c6c6; */
  font-weight: bold;
  padding-bottom: 1rem;
}

.markdown-body th {
    border-bottom: 1px solid #242424 !important;
}

pre {
    margin: 1rem;
    border-radius: 1rem;
}