.sidebar {
    background-color: #353535;
    color: #FFFFFF;
    height: 100vh;
    width: 320px;
    display: flex;                              
    flex-direction: column;
    justify-content: space-between;
}


button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color:  rgba(180, 180, 180, 0.05); 
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    box-shadow: #060606;
}

.logo {
    height: 35px;
    width: 35px;
    background-color: #1d0202;
    border-radius: 50%;
    object-fit: cover;          /* it will fit and will look perfect fit.   */
}

.logo:hover {
    transition: ease-in;
    box-shadow: 0 0 12px rgba(253, 251, 251, 0.962);

}

button span {
    font-size: 20px;
}

button:hover {
    background-color:#160b02;
    transition: ease-in-out;

}

.history {
    margin: 10px;              /* Margin and Padding Same as button for consistency. */
    padding: 10px;
    height: 100%;
}

.history li {
    list-style-type: none;          /*We do not need the bullet points so we done it as none. */
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: transparent;
    position: relative;
}

.history li:hover {
    background-color: rgba(48, 5, 5, 0.05);           
    border-radius: 10px;
}

.sign {
    padding: 10px;
    margin: 10px;
    font-size: 13px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
     transition: all 0.3s ease-in-out;
}

.sign:hover {
  color: #FF6B01; 
  letter-spacing: 0.2px; 
  transform: scale(1.0); 
  transition: all 0.3s ease-in-out; 
  text-shadow: #353535; 
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;
}

.history li:hover .fa-trash {
    opacity: 1;
    color: #fff;
}

.fa-trash:hover {
    color: #f87171 !important;
}

.highlighted {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}